<h1><img src="<%= "/images/#{@chakra.name}.png" %>" alt="<%="#{@chakra.name}" %>" /><%= @chakra.name %></h1>
<p>
<%= @chakra.description %>	
</p>
<p>
<%= @chakra.question %>	
</p>
<div id="canvas">
<% for g in @chakra.goddesses %>
	<% link_to({:controller => 'goddesses', :action => 'show', :goddess => g.name}, :class => 'move numeric hide') do %>
		<%= g.number %>
	<% end %>
	<br />
<% end %>
</div>