<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%="#{SITE_NAME}" %></title>
<meta name="title" content="<%="#{SITE_NAME}" %>" />
<meta name="description" content="<%= h ABOUT_BLURB %>" />
<meta name="keywords" content="kkk" />
<link rel="apple-touch-icon" href="images/logo_70x70.png" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js' -%>
<%= javascript_include_tag 'application' -%>
<!--[if lt IE 8]>
<%= javascript_include_tag 'http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js' -%>
<%= javascript_include_tag 'iesucks' -%>
<![endif]-->
<%#- Bare minimum styles for downlevel devices -%>
<%= stylesheet_link_tag 'yui/3_0_0pr1/reset-min', 'yui/3_0_0pr1/fonts-min', 'yui/3_0_0pr1/base-min', 'handheld', :media => 'screen, handheld', :cache => "cached-base" -%>
<%#- Styles for sophisticated devices like iPhone or Android -%>
<%= stylesheet_link_tag 'yui/3_0_0pr1/grids', 'screen', :media => 'screen and (min-device-width:320px)', :cache => "cached-screen" -%>
<%#- Styles for dumb ol' IE -%>
<!--[if lt IE 8]>
<%= stylesheet_link_tag 'iesucks' -%>
<![endif]-->
</head>
<body>
<div class="container">
	<div class="header yui-g"> 
		<div class="brand"> 
			<h1 class="name" >
				<% link_to(:controller => "chakras", :action => 'index') do %>
					<img src="<%= "/images/header_300x50.png" %>" alt="The Chakra Goddess Oracle" />
				<% end %>
			</h1>
		</div>
	</div>
	<div class="content yui-g">
		<%= yield %>
	</div>
	<div class="footer yui-g">
		More goddess games on your mobile at <a href="http://igoddess.mobi">igoddess.mobi</a>
	</div>
</div>
</body>
</html>
<head>